@if (ViewBag.data != null)
{
    <span class="bookmarkb" id="delbookmarkb" data-manga-id="@ViewBag.MangaId"><i class="fa fa-trash"></i> Xóa Khỏi Bookmark</span>
}
else
{
    <span class="bookmarkb" id="addbookmarkb"><i class="fa fa-heart"></i> Thêm Bookmark</span>
}
