@foreach (var truyen in Model)
{
    <em class="story_chapter">
        <a href="/read/@truyen.Alias/@truyen.MangaId-@truyen.ChapterId/@truyen.LangId" title="@truyen.FullName">
            <strong class="text-uppercase">[@truyen.LangId]</strong> @truyen.FullName
        </a>
    </em>
}