@model MyWebsite.Models.Chapter

@{
    ViewBag.Title = "TaoMoi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    table, td, th {
        border: 1px solid black;
    }
</style>
<div class="padding">
    <div class="box">
        <div class="box-header">
            <div class="m-b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Account/Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ListManga">Danh sách truyện đã tạo</a></li>
                    <li class="breadcrumb-item"><a href="/ListChapter/@ViewBag.MaTruyen">Danh sách chương </a></li>
                    <li class="breadcrumb-item active">Tạo chương mới</li>
                </ol>
            </div>
        </div>


        <div class="box-body">
            <div class="form">

                @using (Html.BeginForm("Create", "Chapter", FormMethod.Post, new { enctype = "multipart/form-data", ui_jp = "parsley" }))
                {
                    @Html.AntiForgeryToken()
                    <input hidden id="PageFullName" name="PageFullName" />
                    <input hidden id="PageOrderNumber" name="PageOrderNumber" />
                    <div class="row m-b">
                        <input hidden value="@ViewBag.MangaId" id="MangaId" name="MangaId" />
                        <div class="col-sm-3">
                            <label>Thứ tự chương</label>
                            <input type="number" class="form-control" required id="OrderNumber" name="OrderNumber" data-parsley-error-message="Yêu cầu nhập thứ tự chương">
                        </div>
                        <div class="col-sm-4">
                            <label>Tên chương truyện</label>
                            <input type="text" class="form-control " id="FullName" name="FullName" required data-parsley-error-message="Yêu cầu nhập tên chương">
                        </div>
                        <div class="col-sm-4">

                            <label> Số trang </label>
                            <div class="row m-b">
                                <div class="col-sm-3 form-group">
                                    <input type="number" id="sotrang" class="form-control">
                                </div>
                                <div class="col-sm-1 form-group">
                                    <button class="btn btn-icon black" type="button" onclick="myFunction()"><i class="material-icons md-24">&#xe145;</i></button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <button type="submit" class="md-btn md-raised m-b-sm w-xs blue">Tạo</button>
                    <table class="table table-striped b-t" id="myTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Trang</th>
                                <th>Tên Trang</th>
                            </tr>
                        </thead>
                    </table>


                }


            </div>
        </div>



    </div>
</div>


    <script src="~/LayoutUser/Chapter/Create.js"></script>
