@model MyWebsite.Models.Chapter

@{
    ViewBag.Title = "TaoMoi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    table, td, th {
        border: 1px solid black;
    }
</style>
<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb black">
            <li class="breadcrumb-item"><a href="/Account/Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/ListManga">Danh sách truyện đã tạo</a></li>
            <li class="breadcrumb-item"><a href="/ListChapter/@ViewBag.MaTruyen">Danh sách chương </a></li>
            <li class="breadcrumb-item active">Tạo chương mới</li>
        </ol>
    </div>
    @using (Html.BeginForm("Create", "Chapter", FormMethod.Post, new { enctype = "multipart/form-data", ui_jp = "parsley" }))
    {
        <div class="box">
            <div class="box-header blue">
                <h2>Tạo chương mới</h2>
            </div>
            <div style="top:6px" class="box-tool">
                <button type="submit" class="btn btn-default">Tạo</button>
            </div>
            <div class="box-body">
                <div class="form">


                    @Html.AntiForgeryToken()
                    <input hidden id="PageFullName" name="PageFullName" />
                    <input hidden id="PageOrderNumber" name="PageOrderNumber" />
                    <div class="row m-b">
                        <input hidden value="@ViewBag.MangaId" id="MangaId" name="MangaId" />
                        <div class="col-sm-1">
                            <label>Thứ tự chương</label>
                            <input type="number" class="form-control" required id="OrderNumber" name="OrderNumber" data-parsley-error-message="Yêu cầu nhập thứ tự chương">
                        </div>
                        <div class="col-sm-2">
                            <label>Tên chương truyện</label>
                            <input type="text" class="form-control " id="FullName" name="FullName" required data-parsley-error-message="Yêu cầu nhập tên chương">
                        </div>
                        <div class="col-sm-2">

                            <label> Số trang </label>
                            <div class="row m-b">
                                <div class="col-sm-7 form-group">
                                    <input type="number" id="Totalpage" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <button type="button" class="md-btn md-raised m-b-sm w-xs black" id="addbtn"><i class="material-icons md-24">&#xe145;</i></button>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div id="UploadRaw" class="row">
                        @*<div class="col-xs-6 col-sm-4 col-md-3" style="padding-left:12px;padding-right:12px">
                            <div class="box p-a-xs">

                                <img id="img1" style="max-height:500px" src="~/PageLink/1b.png" alt="" class="img-responsive">
                                <div class="p-a-sm">
                                    <div class="text-ellipsis">
                                        <span>trang 1</span>
                                        <br />
                                        <span>trang 1 - asdadadas</span>
                                        <input id="Upload1" hidden style="margin-left:10px" type="file" name="fileupload" onchange="Upload(this)" />
                                    </div>
                                    <div style="padding-left:0px;padding-right:0px;padding-bottom:0px;" class="box-footer row">
                                        <button id="btnupload1" type="button" class="UploadButton md-btn md-raised m-b-sm w-xs primary" style="display: block;margin-left: auto;margin-right: auto;">Tải lên</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3" style="padding-left:12px;padding-right:12px">
                            <div class="box p-a-xs">

                                <img id="img2" style="max-height:500px" src="~/PageLink/1b.png" alt="" class="img-responsive">
                                <div class="p-a-sm">
                                    <div class="text-ellipsis">
                                        <span>trang 1</span>
                                        <br />
                                        <span>trang 1 - asdadadas</span>
                                        <input id="Upload2" hidden style="margin-left:10px" type="file" name="fileupload" onchange="Upload(this)" />
                                    </div>
                                    <div style="padding-left:0px;padding-right:0px;padding-bottom:0px;" class="box-footer row">
                                        <button id="btnupload2" type="button" class="UploadButton md-btn md-raised m-b-sm w-xs primary" style="display: block;margin-left: auto;margin-right: auto;">Tải lên</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                   

                </div>
            </div>



        </div>
    }
</div>


<script src="~/LayoutUser/Chapter/Create.js"></script>
