
MyWebsite/.vs/MyWebsite/v16/Server/sqlite3/storage.ide
MyWebsite/.vs/MyWebsite/v16/Server/sqlite3/storage.ide-shm
MyWebsite/.vs/MyWebsite/v16/Server/sqlite3/storage.ide-wal
MyWebsite/.vs/MyWebsite/config/applicationhost.config
MyWebsite/.vs/MyWebsite/v15/.suo
MyWebsite/.vs/MyWebsite/v15/Server/sqlite3/storage.ide
MyWebsite/.vs/MyWebsite/v15/Server/sqlite3/storage.ide-shm
MyWebsite/.vs/MyWebsite/v15/Server/sqlite3/storage.ide-wal
MyWebsite/.vs/MyWebsite/v16/.suo
MyWebsite/.vs/MyWebsite/v16/Server/sqlite3/db.lock
MyWebsite/.vs/MyWebsite/v16/Server/sqlite3/storage.ide
MyWebsite/bin/MyWebsite.dll
MyWebsite/bin/MyWebsite.pdb
MyWebsite/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MyWebsite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyWebsite/obj/Debug/MyWebsite.csproj.CoreCompileInputs.cache
MyWebsite/obj/Debug/MyWebsite.csproj.FileListAbsolute.txt
MyWebsite/obj/Debug/MyWebsite.csprojAssemblyReference.cache
MyWebsite/obj/Debug/MyWebsite.dll
MyWebsite/obj/Debug/MyWebsite.pdb
MyWebsite/obj/Debug/TempPE/Models.Model.Context.cs.dll
MyWebsite/obj/Debug/TempPE/Models.Model.cs.dll
MyWebsite/obj/Debug/TempPE/Models.Model.Designer.cs.dll
MyWebsite/Service/Common/DALHelper.cs
MyWebsite/Service/Common/Enum.cs
MyWebsite/.vs/MyWebsite/v15/.suo
