.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.headroom--pinned {
    transform: translateY(0%);
    position:fixed;
    transition:0.5s;
    top:0px;
}

.headroom--unpinned {
    transform: translateY(-100%);
    position:static;
    transition:0.5s;
}

.headroom--top{
    position:relative;
    transition:0.5s;
}