/*.toggle_hide {
    display: none;
}*/

.owl__item{
    position:relative;
}

.item {
    height: 200px;
    background-color: white;
}

.item img{
    width:100%;
    height:100%
}

.item h2{
    position:absolute;
    bottom:0;
    color:white;
    width:100%;
    height:18%;
    text-align:center;
    font-size:15px;
    background-color:rgba(0, 0, 0, 0.80)
}

/*Carousel*/
.owl-nav {
    font-size: 100px;
    color: black;
    position: absolute;
    top: 25%;
}

.owl-prev, .owl-next{
    position:absolute;
}

.owl-prev:focus, .owl-next:focus{
    border:none;
    outline:none;
}

.owl-nav i{
    color:white;
    font-weight:bold;
}

.owl-dots {
    display: none;
}

.owl-prev, .owl-next {
    border: none !important;
    font-size: 60px !important;
    background: transparent !important;
}

.owl-prev {
    float: left;
}

.owl-next {
    float: right;
}

/*Header*/
header{
    border-radius: 0px 0px 15px 15px;
}

/*Menu*/
.ownmenu .dropdown.megamenu .dropdown-menu{
    border-radius:0px 0px 15px 15px;
}

.lii {
    position: relative;
}

    .lii::before {
        content: "";
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #333;
        transition: all 0.3s;
    }

    .lii:hover:before {
        width: 20px;
        transition: all 0.3s;
    }

/*Trang đọc truyện*/
.disabled {
    opacity:0 !important;
    visibility:hidden;
}

.item-fltr .btn {
    margin-top: 1.3%;
}

/*Autocomplete UI*/
.ui-menu{
    min-height:10px;
    max-height:500px;
    overflow:scroll;
}

.ui-menu-item a{
    display:inline-flex;
    width:100%;
    font-size:15px;
}

/*Bookmark*/
.bookmarklist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.bookmarkb {
    font-weight: normal;
    padding: 3px 5px;
    margin: -5px 0 0 5px;
    border: 1px solid #02afe1;
    background-color: #78daf6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    cursor: pointer;
    display: inline-block
}

.bookmarkb.alreadyseen{
    background-color:#ccc;
    cursor:not-allowed;
}

.dropdown-customize .dropdown-menu-customize {
    max-height:300px;
    overflow:auto;
}

.dropdown-customize .dropdown-item-customize {
    display: flex;
    transition:all 0.3s;
}

.dropdown-customize .dropdown-item-customize:hover{
    color:red;
}

.dropdown-customize .dropdown-item-customize img {
    width: 50px;
    height: 60px;
}

.dropdown-customize .mangacount {
    position: absolute;
    top: 5%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
    background-color: rgba(255, 0, 0,0.7);
    border-radius: 50%;
    z-index: 10;
}



