body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color:black;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.index-main-menu {
    background: #ffae00;
    border-radius: 6px;
    height: 60px;
    padding: 0 35px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    text-align:center;
}

    .index-main-menu a {
        line-height: 60px;
        margin: 0 15px;
        font-size: 15px;
        color: #000;
        /*letter-spacing: 0;*/
        font-weight: bold;
    }


