
@model IEnumerable<MyWebsite.ViewModels.Manga.MangaModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .mr10 {
        margin-right: 20px;
    }
</style>
<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb black">
            <li class="breadcrumb-item"><a href="/Account/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách truyện</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header blue">
            <h3>DANH SÁCH TRUYỆN THAM GIA DỊCH</h3>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th>Ảnh Bìa</th>
                            <th>Tên Truyện</th>
                            <th>Tác Giả</th>
                            <th>Trạng Thái</th>
                            <th>Ngày Tạo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">

                                    <span>
                                        <img src="~/Cover/@item.CoverLink" style="max-width:150px" />
                                    </span>


                                </td>
                                <td class="center">
                                    <a href="/Truyen/QuanLyChuong/@item.MangaId">
                                        <span>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.CreatAt)
                                </td>
                                <td style="text-align:center">
                                    @*@if (item.Translations.Where(m => m.StatusActive == 0).Count() > 0)
                                    {
                                        <button style="display:inline-block" class="btn  dark"><a href="/Contribute/Translator?PageId=@item.Chapters.FirstOrDefault(m=>m.StatusActive==0).Pages.FirstOrDefault(m=>m.StatusActive == 0).PageId">Dịch truyện</a></button>
                                    }
                                    else
                                    {
                                        <button style="display:inline-block" disabled class="btn  dark"> Chưa có bản dịch nào</button>
                                    }*@
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>


