@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
</style>
<div class="padding">
    <div class="m-b primary">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Account/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Lịch sử điểm</li>
        </ol>
    </div>
    <div class="box black">

        <div class="box-body">
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b black">
                    <thead>
                        <tr>
                            <th style="text-align:center">STT</th>
                            <th style="text-align:center">Tên truyện</th>
                            <th style="text-align:center">Điểm quản lý truyện</th>
                            <th style="text-align:center">Điểm quản lý bản dịch</th>
                            <th style="text-align:center">Điểm dịch truyện</th>
                            <th style="text-align:center">Điểm Upload Clear-text</th>
                            <th style="text-align:center">Tổng số điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
     $(document).ready(function () {
            loadEmpGroup();
     });
     function loadEmpGroup() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetList", "Point")',

                success: function (result) {
                    initTimeFrameDatatable(result);
                }
            });
        }
    function initTimeFrameDatatable(data) {
            $("#datatable").dataTable().fnDestroy();
            $("#datatable").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Nhân viên",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2,3,4,5,6],
                        "sClass": "text-center",
                        "bSortable": false
                    },
                     
                    
                ],
                "bAutoWidth": false,
            });
       
    }
   
</script>
