@using MyWebsite.Service.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
</style>
<div class="padding">
    <div class="m-b primary">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Account/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách tài khoản</li>
        </ol>
    </div>

    <div style="top:6px">
        <button class="btn primary col-md-2 offset-md-10" data-toggle="modal" data-target="#AddModal">Thêm tài khoản</button>
    </div>
    <br />
    <div class="box ">

        <div class="box-body">
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b ">
                    <thead>
                        <tr>
                            <th style="text-align:center">STT</th>
                            <th style="text-align:center">Tên</th>
                            <th style="text-align:center">Tài khoản</th>
                            <th style="text-align:center">Email</th>
                            <th style="text-align:center">Loại</th>
                            <th style="text-align:center">Trạng thái</th>
                            <th style="text-align:center"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="AddModal" class="modal" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm thể loại</h5>
            </div>
            <div class="modal-body text-center p-lg">
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">
                        <span>Tài khoản</span>
                    </label>
                    <div class="col-sm-8">
                        <input id="username" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">
                        <span>Mật khẩu</span>
                    </label>
                    <div class="col-sm-8">

                        <input id="pwd" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">
                        <span>Email</span>
                    </label>
                    <div class="col-sm-8">

                        <input id="email" type="email" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">
                        <span>Loại tài khoản</span>
                    </label>
                    <div class="col-sm-8">
                        <select id="type" class="form-control select2" ui-jp="select2" ui-options="{theme: 'bootstrap'}" style="width:100%">
                            <option value="1">Người dùng</option>
                            <option value="2">Admin</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn danger p-x-md" id="SaveAdd">Thêm</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<script>
     $(document).ready(function () {
            loadEmpGroup();
     });
     function loadEmpGroup() {

            $.ajax({
                type: 'POST',
                url: '/Account/GetAllAccount',
                success: function (result) {
                    console.log(typeof(result));
                    initTimeFrameDatatable(result);
                }
            });
        }
    function initTimeFrameDatatable(data) {
            $("#datatable").dataTable().fnDestroy();
            $("#datatable").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "User",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1,2,3,4,5],
                        "sClass": "text-center",
                        "bSortable": false
                    },
                     {
                        "aTargets": [6],
                        "mRender": function (data, type, row) {
                            var del =
                                "<a title='Xóa' class='btn btn-sm primary' onclick='Delete(" +
                                data +
                                ")'>Khóa</a>";
                            return  del ;
                        },
                    }
                ],
                "bAutoWidth": false,
            });

    }
    function ResetAddModal() {
        $("#username").val("");
        $("#pwd").val("");
        $("#email").val("");

    }
      $("#SaveAdd").on("click", function () {
         if ($('#username').val() == "") {
            alert("Vui lòng nhập username");
                return;
            }
           if ($('#email').val() == "") {
            alert("Vui lòng nhập Email");
                return;
          }
           if ($('#pwd').val() == "") {
            alert("Vui lòng nhập password");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Account")',
                data: {
                    'username': $("#username").val(),
                    'pwd': $("#pwd").val(),
                    'email': $("#email").val(),
                    'type': $("#type").val(),
                },
                success: function(result) {
                    if (result.rs == true) {
                        alert(result.mess);
                        loadEmpGroup();
                        $('#AddModal').modal('hide');
                        ResetAddModal();
                    } else {
                        alert(result.mess);
                    }
                },
                error: function(error) {
                    ShowAlert("Có lỗi xảy ra, vui lòng thử lại", 1);
                }
            });
      })
    function Delete(id) {

        var r = confirm("Bạn có muốn khóa tài khoản này?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Account")',
                        data: {
                            'id': id,
                        },
                        success: function(data) {
                            if (data.rs) {
                                alert(data.mess);
                                loadEmpGroup();
                            } else {
                                alert(data.mess);
                            }
                        },
                        error: function (error) {
                            alert(data.mess);
                        }
                    });
}
    }
</script>
