<!DOCTYPE html>
@using MyWebsite.ViewModels.Account;
@using MyWebsite.Service.Common;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TransManga - Dịch truyện online</title>
    <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/LayoutUser/assets/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/LayoutUser/assets/images/logo.png">

    <!-- style -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/LayoutUser/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/LayoutUser/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/LayoutUser/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/LayoutUser/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/LayoutUser/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <!-- build:css /LayoutUser/assets/styles/app.min.css -->
    <link rel="stylesheet" href="/LayoutUser/assets/styles/app.css" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="/LayoutUser/assets/styles/font.css" type="text/css" />
    <script src="~/LayoutUser/libs/jquery/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/LayoutUser/assets/fonts/font.css" type="text/css" />
    <!-- Bootstrap -->

    <link href="~/LayoutUser/GuideToolTipIntro/introjs.css" rel="stylesheet" />
    <style>
        .breadcrumb-item {
            color: black
        }

            .breadcrumb-item.active {
                color: white;
            }

            .breadcrumb-item + .breadcrumb-item::before {
                display: inline-block;
                padding-right: .5rem;
                padding-left: .5rem;
                color: white;
                content: "/";
            }

        .gray-white {
            background-color: #d9d6d6;
        }

        .white-gray {
            background-color: #fbfbfb;
        }
        #rolemodalbody {
            background-color: rgba(255, 99, 132, 0.2);
        }
        .disabledRoleManga {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    </style>
</head>
@{
    AccountModel accountModel = (AccountModel)HttpContext.Current.Session["Userinfo"];
}
<body>

    <input id="AccountModel" value="@accountModel.UserName" />
    <div class="app" id="app">
        <!-- ############ LAYOUT START-->
        <!-- aside -->
        <div id="aside" class="app-aside modal md nav-expand">
            <div class="left navside black dk" layout="column">
                <div class="navbar no-radius">
                    <!-- brand -->
                    <a href="/" class="navbar-brand">
                        <div ui-include="'../assets/images/logo.svg'"></div>
                        <img src="/RootPicture/logo.png" alt="." class="hide">
                        <span class="hidden-folded inline">Transmanga</span>
                    </a>
                    <!-- / brand -->
                </div>
               
                <div flex="" class="hide-scroll">
                    <nav class="scroll nav-active-primary">

                        <ul class="nav" ui-nav="">
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Điều hướng</small>
                            </li>
                            <li>
                                <a href="/Search">


                                    <span class="nav-icon">
                                        <i class="material-icons md-24">
                                            &#xe8b6;

                                        </i>
                                    </span>
                                    <span class="nav-text">Tìm kiếm</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe88a;</i>
                                    </span>

                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>

                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe02f;</i>
                                    </span>
                                    <span class="nav-text">Danh sách Yêu cầu</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="/ListRequestByPeople">
                                            <span class="nav-text">Xin gia nhập</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ListRequestToPeople">
                                            <span class="nav-text">Mời gia nhập</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ListRequestToYou">
                                            <span class="nav-text">Mời bạn gia nhập </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ListRequestByYou">
                                            <span class="nav-text">Xin gia nhập</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>

                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe02f;</i>
                                    </span>
                                    <span class="nav-text">Truyện</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="/CreateManga">
                                            <span class="nav-text">Tạo mới</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ListManga">
                                            <span class="nav-text">Danh sách</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ListMangaJoin">
                                            <span class="nav-text">Đã tham gia</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe7ef;</i>
                                    </span>
                                    <span class="nav-text">Đóng góp</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="/TranslatorList">
                                            <span class="nav-text">Dịch truyện</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/EditorList">
                                            <span class="nav-text">Tải lên clear-text</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/TranslationList">

                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe8e2;</i>
                                    </span>
                                    <span class="nav-text">Kiểm Duyệt</span>
                                </a>

                            </li>
                            <li class="hidden-folded">
                                <a href="/Point">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe889;</i>
                                    </span>
                                    <span class="nav-text">Lịch sử điểm</span>
                                </a>
                            </li>
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Trợ giúp</small>
                            </li>

                            <li class="hidden-folded">
                                <a href="/Document">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe2c8;</i>
                                    </span>
                                    <span class="nav-text">Documents</span>
                                </a>
                            </li>
                            <li class="hidden-folded">
                                <a href="/Feedback">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24">&#xe87f;</i>
                                    </span>
                                    <span class="nav-text">Feedbacks</span>
                                </a>
                            </li>

                            @if (accountModel.Type == 2)
                            {
                                <li>
                                    <a>
                                        <span class="nav-caret">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <span class="nav-icon">
                                            <i class="material-icons md-24">&#xe7ef;</i>
                                        </span>
                                        <span class="nav-text">Thiết lập</span>
                                    </a>
                                    <ul class="nav-sub">
                                        <li>
                                            <a href="/Account/ListAccount">
                                                <span class="nav-text">Tài khoản</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/PointHistory/Allmemberhistory">
                                                <span class="nav-text">Tính điểm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Genres">
                                                <span class="nav-text">Thể loại</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/StatusManga">
                                                <span class="nav-text">Trạng thái truyện</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/ListFont">
                                                <span class="nav-text">Font chữ</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                <div flex-no-shrink="">
                    <div ui-include="'../views/blocks/aside.bottom.0.html'"></div>
                </div>
            </div>
        </div>
        <!-- / -->
        <!-- content -->


        <div id="content" class="app-content  " role="main">
            <div class="app-header black  box-shadow-z4 navbar-md">
                <div class="navbar navbar-toggleable-sm flex-row align-items-center">
                    <button id="btnTrans" class="btn-sm primary Showmodal" style="margin-right:5px;">Dịch truyện</button>
                    <button id="btnUpload" class="btn-sm primary Showmodal" style="margin-right:5px;">Tải lên Clear-text</button>
                    <button id="btnManager" class="btn-sm primary Showmodal">Quản lý bản dịch</button>

                    <!-- Open side - Naviation on mobile -->
                    <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
                        <i class="material-icons">&#xe5d2;</i>
                    </a>
                    <!-- / -->
                    <!-- Page title - Bind to $state's title -->
                    <div class="mb-0 h5 no-wrap" ng-bind="$state.current.data.title" id="pageTitle"></div>

                    <!-- navbar collapse -->
                    <!-- / navbar collapse -->
                    <!-- navbar right -->
                    <ul class="nav navbar-nav ml-auto flex-row">
                        <li class="nav-item dropdown pos-stc-xs">
                            <a id="Notifcation" class="nav-link mr-2" href="#" data-toggle="dropdown">
                                <i class="material-icons md-24">&#xe7f4;</i>
                                <span id="NotificationCount" class="label label-sm up warning">0</span>
                            </a>
                            <div ui-include="'/LayoutUser/views/blocks/dropdown.notification.html'"></div>
                            <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow ng-scope">
                                <div class="scrollable" style="max-height: 500px">
                                    <ul id="ABCZ" class="list-group list-group-gap m-a-0"></ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link p-0 clear" href="#" data-toggle="dropdown">
                                <span class="avatar w-32">
                                    <img id="AvatarIcon" src="~/Avatar/@accountModel.AvatarLink" alt="/LayoutUser.">
                                    <i class="on b-white bottom"></i>
                                </span>
                            </a>
                            <div ui-include="'/LayoutUser/views/blocks/dropdown.user.html'"></div>
                            <div class="dropdown-menu pull-right dropdown-menu-scale ng-scope">

                                <a class="dropdown-item" ui-sref="app.page.profile" href="/Account/UserManagment">
                                    <span>Thông tin cá nhân</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" ui-sref="access.signin" href="/Account/Logout">Đăng Xuất</a>
                            </div>
                        </li>
                        <li class="nav-item hidden-md-up">
                            <a class="nav-link pl-2" data-toggle="collapse" data-target="#collapse">
                                <i class="material-icons">&#xe5d4;</i>
                            </a>
                        </li>
                    </ul>
                    <!-- / navbar right -->
                </div>
            </div>
            <div class="app-footer">
                <div class="p-2 text-xs">
                    <div class="pull-right text-muted py-1">
                        &copy; Copyright <strong>kaishi.ga@gmail.com</strong> <span class="hidden-xs-down">- Built with Love v0.0.1</span>
                        <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
                    </div>

                </div>
            </div>
            <div ui-view class="app-body" id="view">
                <!-- ############ PAGE START-->
                @RenderBody()

                <!-- ############ PAGE END-->
            </div>
        </div>
        <div id="RoleModal" class="modal" data-backdrop="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 id="modaltitle" class="modal-title"></h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        
                        <div id="Loadingwait">
                            <i  class="material-icons md-24 fa-spin">
                                &#xe028;

                            </i>
                        </div>
                            
                            <div id="roleselectmanga" style="display:none">
                                <select style="width:100%;" class="form-control select2" ui-jp="select2" ui-options="{theme: 'bootstrap'}" id="ListRoleManga" name="ListRoleManga">
                                   
                                </select>
                            </div>
                           
                        
                        <div style="display:none" id="rolemodalbody" class="padding">
                            <span>Opps, Bạn chưa đăng ký truyện nào. Muốn đi tìm truyện không?</span><br />
                            <span>
                                (chỉ cần click vào truyện bạn thích và xin gia nhập thôi!)
                            </span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn danger p-x-md" id="CancelRoleMangaModal">Thoát</button>
                        <button data-type="0" id="Lestgobtn" class="btn primary p-x-md text-white disabledRoleManga" >Let's Go</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
    <!-- build:js scripts/app.html.js -->
    <!-- jQuery -->
    <!-- endbuild -->
    <script src="~/LayoutUser/libs/jquery/tether/dist/js/tether.min.js"></script>
    <script src="~/LayoutUser/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/LayoutUser/GuideToolTipIntro/intro.js"></script>
    <!-- core -->
    <script src="~/LayoutUser/libs/jquery/underscore/underscore-min.js"></script>
    <script src="~/LayoutUser/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="~/LayoutUser/libs/jquery/PACE/pace.min.js"></script>
    <script src="~/LayoutUser/scripts/config.lazyload.js"></script>
    <script src="~/LayoutUser/scripts/palette.js"></script>
    <script src="~/LayoutUser/scripts/ui-load.js"></script>
    <script src="~/LayoutUser/scripts/ui-jp.js"></script>
    <script src="~/LayoutUser/scripts/ui-include.js"></script>
    <script src="~/LayoutUser/scripts/ui-device.js"></script>
    <script src="~/LayoutUser/scripts/ui-form.js"></script>
    <script src="~/LayoutUser/scripts/ui-nav.js"></script>
    <script src="~/LayoutUser/scripts/ui-screenfull.js"></script>
    <script src="~/LayoutUser/scripts/ui-scroll-to.js"></script>
    <script src="~/LayoutUser/scripts/ui-toggle-class.js"></script>
    <script src="~/LayoutUser/scripts/app.js"></script>
    <!-- ajax -->
    <script src="~/LayoutUser/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
    <script src="~/LayoutUser/scripts/ajax.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/LayoutUser/Common/Layout.js"></script>
    <script>
        $("#CancelRoleMangaModal").on("click", function () {
            $("#RoleModal").modal("hide");


        })

        $(".Showmodal").on("click", function () {
            $("#modaltitle").text("");

            $('#ListRoleManga').empty().trigger("change");
            $("#Lestgobtn").addClass("disabledRoleManga");
            if ($(this).attr('id') == "btnTrans") {
                LoadTrans();
            }
            if ($(this).attr('id') == "btnUpload") {
                LoadUpload();
            }
            if ($(this).attr('id') == "btnManager") {
                LoadManager();
            }
            $("#RoleModal").modal("show");
        })
        function LoadTrans() {

            $("#modaltitle").text("Dịch truyện");
            $.ajax({
                type: 'Get',
                url: '/Account/GetMangaFromRole',
                data:
                {
                    role:@((int)EnumRole.TR),
                },
                success: function (result) {
                    console.log(result);
                    $("#Loadingwait").hide();
                    if (result.length > 0) {
                        $.each(result, function (arrayID, item) {
                            if (arrayID == 0) {
                                var data = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption = new Option(data.text, data.id, false, false);
                                newOption.setAttribute('data-page', item.page);
                                $('#ListRoleManga').append(newOption).trigger("change");
                            }
                            else {
                                var data1 = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption1 = new Option(data1.text, data1.id, false, false);
                                newOption1.setAttribute('data-page', item.page);

                                $('#ListRoleManga').append(newOption1);
                            }
                        });

                        $("#roleselectmanga").show();
                        $("#Lestgobtn").attr("data-type", 1);
                    }

                    else {
                        $("#roleselectmanga").hide();
                        $("#rolemodalbody").show();

                    }
                    $("#Lestgobtn").removeClass("disabledRoleManga");

                }
            });

        }
        function LoadUpload() {
            $("#modaltitle").text("Tải lên Clear-text");
            $.ajax({
                type: 'GET',
                url: '/Account/GetMangaFromRole',
                data:
                {
                    role:@((int)EnumRole.UC),
                },
                success: function (result) {
                    console.log(result);
                    $("#Loadingwait").hide();
                    if (result.length > 0) {
                        $.each(result, function (arrayID, item) {
                            if (arrayID == 0) {
                                var data = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption = new Option(data.text, data.id, false, false);
                                newOption.setAttribute('data-chapter', item.chapter);
                                $('#ListRoleManga').append(newOption).trigger("change");
                            }
                            else {
                                var data1 = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption1 = new Option(data1.text, data1.id, false, false);
                                newOption1.setAttribute('data-chapter', item.chapter);
                                $('#ListRoleManga').append(newOption1);
                            }
                        });
                        $("#roleselectmanga").show();
                        $("#Lestgobtn").attr("data-type", 2);

                    }
                    else {
                        $("#roleselectmanga").hide();
                        $("#rolemodalbody").show();

                    }
                    $("#Lestgobtn").removeClass("disabledRoleManga");

                }
            });
        }
        function LoadManager() {
            $("#modaltitle").text("Quản lý bản dịch");
            $.ajax({
                type: 'Get',
                url: '/Account/GetMangaFromRole',
                data:
                {
                    role:@((int)EnumRole.TM),
                },
                success: function (result) {
                    console.log(result);
                    $("#Loadingwait").hide();
                    if (result.length > 0) {
                        $.each(result, function (arrayID, item) {
                            if (arrayID == 0) {
                                var data = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption = new Option(data.text, data.id, false, false);
                                newOption.setAttribute('data-trans', item.trans);
                                newOption.setAttribute('data-chapter', item.chapter);
                                $('#ListRoleManga').append(newOption).trigger("change");
                            }
                            else {
                                var data1 = {
                                    id: item.id,
                                    text: item.name
                                };
                                var newOption1 = new Option(data1.text, data1.id, false, false);
                                newOption1.setAttribute('data-trans', item.trans);
                                newOption1.setAttribute('data-chapter', item.chapter);
                                $('#ListRoleManga').append(newOption1);
                            }
                        })
                        $("#roleselectmanga").show();
                        $("#Lestgobtn").attr("data-type", 3);
                    }
                    else {
                        $("#roleselectmanga").hide();
                        $("#rolemodalbody").show();

                    }
                    $("#Lestgobtn").removeClass("disabledRoleManga");
                }
            });
        }
        $("#Lestgobtn").on("click", function () {
            if ($(this).data("type") == 0) {
                window.location = '/Manga/ListAllManga?page=1&sort=1';
            }
            if ($(this).data("type") == 1) {
                let data = $('#ListRoleManga :selected').data("page");
                window.location = '/Contribute/Translator?PageId=' + data;
            }
            if ($(this).data("type") == 2) {
                let data = $('#ListRoleManga :selected').data("chapter");
                window.location = '/Contribute/Editor?ChapterId='+data+'&CategoryId=1';
            }
            if ($(this).data("type") == 3) {
                let chapter = $('#ListRoleManga :selected').data("chapter");
                let trans = $('#ListRoleManga :selected').data("trans");
                window.location = '/TranslationManager/' + trans + '/' + chapter;
            }
        })
    </script>
</body>
@RenderSection("scripts", false)
</html>
